<div class="info-contain border">
	
	<div class="info-main" ng-if="display.talent">

		<div class="info-title">
			<h1 class="title1">{{ display.talent.title }}</h1>
			<h2 class="title2">{{ display.talent.name }}</h2>
		</div>
		
		<div class="info-block alert">
			<p ng-show="display.talent._parent.unlockStatus === false">
				你必須再花費 <span>{{ display.talent._parent.toUnlock }}</span> 點來解鎖第 <span>{{ display.talent._parent.tier }}</span> 階技能
			</p>
		</div>
		
		<div class="info-block">
			<p ng-bind-html="display.talent.text | skillInfo"></p>
		</div>
		
		<div class="info-block-contain">
			<p>獎勵: </p>
			<p 
				ng-repeat="bonus in display.talent.bonuses"
				ng-bind-html="bonus | skillInfo"
			>
			</p>
		</div>
	
	</div><!-- info-main -->
	
</div><!-- info-contain -->