<div class="infamy-contain">
	
	<div class="infamy-main set-tab-width set-tab-height">
		
		<div class="border"></div>
		
		<div
			class="infamy-tier"
			ng-repeat="(tierIndex, tier) in infamyCalculator.childList | desc track by $index"
			ng-class="{
				'unlock' : tier.unlockStatus,
				'tier-single' : tier.tier == 0
			}"
		>

			<ul>

				<li
					class="infamy-talent"
					ng-repeat="(talentIndex, talent) in tier.childList track by $index"
					ng-mouseover="infamyHover(talent)"
					ng-mouseleave="infamyLeave(talent)"
					ng-click="infamyClick(talent)"
					ng-class="{
						'unlocked' : talent.unlock,
						'owned'    : talent.owned
					}"
				>
					<div
						class="infamy-icon infamy{{ ::$index + 1 }}"
					></div>

					<div class="infamy-text-block">
						<p class="infamy-text text-owned">擁有</p>
						<p class="infamy-text text-unlocked">解鎖</p>
						<p class="infamy-text text-locked">未解鎖</p>
					</div>

					<a
						class="infamy-remove"
						ng-click="infamyRemove(talent); $event.stopPropagation()"
					></a>
				</li>

			</ul>

		</div>

	</div>

</div><!-- main -->