<div class="perks-contain">
	
	<div class="perks-main">
		
		<ul class="perks">
			
			<li
				class="perk"
				ng-repeat="perk in perkDecksCalculator.childList track by $index"
				ng-class="{equipped : perk.equipped}"
			>

				<div class="perk-title">
					<span>{{ ::perk.name }}</span>
					<span>{{ ::perk.title }}</span>
				</div>
			
				<ul class="decks" ng-class="{border : perk.equipped}">
					<li
						class="deck {{ ::deck.name | deckClassName }}"
						ng-repeat="deck in perk.childList"
						ng-mouseover="deckHover(deck)"
						ng-click="deckClick(deck)"
						ng-class="{owned : deck.owned}"
					>
					</li>
				</ul>

			</li>

		</ul>
		
	</div>

</div><!-- main -->