<div class="skills-main set-tab-width">
	
	<div class="skills-border-contain set-tab-width set-tab-height border hr"></div>
	
	<ul class="skills-tabs" ng-init="$scope.tab=0">
		
		<li class="skills-tab" ng-repeat="(treeIndex, tree) in skillsCalculator.childList track by $index">
			
			<div
				class="skills-tab-nav"
				ng-click="$scope.tab=$index; display.tree = tree"
				ng-class="{'checked' : $scope.tab == $index}"
				ng-init="($first)? display.tree = tree : null"
			>
				<span>{{ ::tree.title }}</span>
				<span>({{ updateTreeStatus(tree) }})</span>
			</div>
			
			<div
				class="skills-tab-main set-tab-width"
				ng-if="$scope.tab==$index"
				ng-class="{'infamy' : tree.infamy}"
				ng-init="iconStyle = getIconStyle(tree)"
			>
				<div
					class="skills-tier"
					ng-repeat="(tierIndex, tier) in tree.childList | desc track by $index" 
					ng-class="{
						'unlocked' : tier.unlockStatus,
						'skills-tier-single' : tier.tier == 0
					}"
				>
					<ul	class="skills-tier-contain">
						<li	
							class="skill"
							ng-repeat="(skillIndex, skill) in tier.childList track by $index"
							ng-click="skillClick(skill, tier, tree)"
							ng-mouseover="skillHover(skill, tier)"
							ng-mouseleave="skillLeave(skill, tier)"
							ng-class="{
								'owned'    : skill.ownBasic,
								'aced'     : skill.ownAce,
								'alert'    : skill.alert
							}"
						>
							<div
								class="skill-icon {{ ::className }}"
								ng-style="iconStyle"
								ng-init="className = getClassName(tier.tier, skillIndex)"
							></div>
							
							<div class="skill-text-block">
								<div class="skill-text text-ace">
									<p>王牌</p>
								</div>
								<div class="skill-text text-ace-hover" ng-if=" ! (tier.tier == 0)">
									<p>購買 王牌</p>
									<p>花費 <span>{{ ::tier.skillPointAce }}</span> 點</p>
								</div>
								<div class="skill-text text-basic">
									<p>擁有</p>
								</div>
								<div class="skill-text text-basic-hover">
									<p>購買 基本</p>
									<p>花費 <span>{{ ::tier.skillPointBasic }}</span> 點</p>
								</div>
								<div class="skill-text text-locked">
									<p>未解鎖</p>
								</div>
								
							</div>	
							
							<a
								class="skill-remove"
								ng-click="skillRemove(skill, tier, tree); $event.stopPropagation()"
							></a>								
							
						</li><!-- skill -->

					</ul><!-- tier-skills -->
					
					<div class="skills-tier-progress">
						<span>{{ ::tier.tier }}</span>
						<span>{{ tier.unlockRequire | padLeft:2 }}</span>
					</div>
					
				</div><!-- tier-->
				
				<div class="progress-bar-contain">
					<div class="progress-bar" ng-style="getProgressBarStyle(tree)">
				</div>
				
			</div><!-- tab-main -->
			
		</li><!-- tab -->
		
	</ul><!-- tabs -->
	
	<div class="ctrl-left">
		<p class="ctrl-line ctrl-level"><span>{{ getLevel() }}</span></p>
		<p class="ctrl-line ctrl-spent"><span>{{ getCost() | number }}</p>
	</div>
	
	<div class="ctrl-right">
		<p class="ctrl-availavle"><span>{{ getAvailable() }}</span> 點技能點數可用</p>
		<p class="ctrl-respec" ng-click="resetTree(display.tree)">重置這個技能樹</p>
		<p class="ctrl-respec small" ng-click="resetAll()">重置所有技能樹</p>
	</div>

</div><!-- main -->