<div class="info-contain border">
	
	<div class="info-main" ng-if="display.skill">

		<div class="info-title">
			<h1 class="title1">{{ display.skill.title }}</h1>
			<h2 class="title2">{{ display.skill.name }}</h2>
		</div>
		
		<div class="info-block alert">
			<p ng-show="display.tier.unlockStatus === false">
				<span>你必須再花費</span>
				<span> {{ display.tier.unlockNeeded }} </span>
				<span>點來解鎖第</span>
				<span> {{ display.tier.tier }} </span>
				<span>階技能</span>
			</p>
			<p ng-show="display.skill.unlockRequire === false">
				<span>必須要擁有前置技能 :</span>
				<span> {{ display.skill.require.getTarget().title }} </span>
				<span>({{ display.skill.require.getTarget().name }})</span>
			</p>
		</div>
		
		<div class="info-block" ng-show="display.tier.skillPointBasic > 0">
			<p>
				<span>基本: </span>
				
				<span
					class="info-strong"
					ng-class="{alert : ! display.skill.unlockBasic}"
					ng-hide="display.skill.ownBasic"
				>
					<span>{{ display.tier.skillPointBasic }} 點</span>
					<span> / </span> 
					<span>${{ display.tier.skillCostBasic | number}}</span>
				</span>
				
				<span class="info-strong" ng-show="display.skill.ownBasic">擁有</span>
			</p>

			<p ng-bind-html="display.skill.basic | asideText"></p>
		</div>
		
		<div class="info-block" ng-show="display.tier.skillPointAce > 0">
			<p>
				<span>王牌: </span>
				
				<span
					class="info-strong"
					ng-class="{alert : ! display.skill.unlockAce}"
					ng-hide="display.skill.ownAce"
				>
					<span>{{ display.tier.skillPointAce }} 點</span>
					<span> / </span> 
					<span>${{ display.tier.skillCostAce | number}}</span>
				</span>
				
				<span class="info-strong" ng-show="display.skill.ownAce">擁有</span>
			</p>

			<p ng-bind-html="display.skill.ace | asideText"></p>
		</div>
		
		<div class="info-block-contain">
			<p
				ng-repeat="text in display.skill.text | toArray"
				ng-bind-html="text | asideText"
			></p>
		</div>
	
	</div><!-- info-main -->
	
</div><!-- info-contain -->