<!DOCTYPE html>
<html lang="zh-TW">
	<head>
		<title> Angular Test </title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, user-scalable=0">
		
		<link rel="stylesheet" href="style.css">
		
		<script src="angular.min.js"></script>
		
	</head>
	
	<body ng-app="myApp" ng-controller="MainCtrl">
		
		<div class="main" >
			<div class="left">
				
				<ul
					ng-repeat="tier in tree | orderBy:'-tier'"
				>
					<li	
						class="skill"
						ng-repeat="skill in tier.skills track by $index"
						ng-mouseover="skillHover(skill, tier)"
						ng-click="skillClick(skill, tier)"
						ng-class="{
							unlocked:tier.isUnlocked,
							basic:skill.own.basic,
							ace:skill.own.ace
						}"
					>
						<a
							class="skill-button"
							ng-show="skill.own.basic || skill.own.ace"
							ng-click="skillCancel(skill, tier); $event.stopPropagation()"
						>x</a>
						<div class="skill-icon"></div>
						<div class="skill-text">
							<span ng-show="skill.own.basic && ! skill.own.ace">基本</span>
							<span ng-show="skill.own.ace">王牌</span>
						</div>
						
					</li>
				</ul>
				
			</div>
			
			<div class="right">
			
				<div class="info-title">
					<h1 class="title1">{{ display.skill.title }}</h1>
					<h2 class="title2">{{ display.skill.name }}</h2>
				</div>
				
				<div class="info-block">
					<p>
						<span>基本: </span>
						
						<span class="info-strong" ng-hide="display.skill.own.basic">
							{{ display.tier.unlockPoint.basic }} 點 / ${{ display.tier.unlockCost.basic | number}}
						</span>
						
						<span class="info-strong" ng-show="display.skill.own.basic">擁有</span>
					</p>
					<p ng-bind-html="display.skill.basic | htmlSafe"></p>
				</div>
				
				<div class="info-block" ng-show="display.tier.unlockPoint.ace">
					<p>
						<span>王牌: </span>
						
						<span class="info-strong" ng-hide="display.skill.own.ace">
							{{ display.tier.unlockPoint.ace }} 點 / ${{ display.tier.unlockCost.ace | number}}
						</span>
						
						<span class="info-strong" ng-show="display.skill.own.ace">擁有</span>
					</p>
					<p ng-bind-html="display.skill.ace | htmlSafe"></p>
				</div>
				
				<div class="info-block">{{ display.text }}</div>
			
			</div>
			
		</div>
		<p> 剩餘點數: {{ getUsed(); }} </p>
		
		<script src="test.js"></script>
	</body>
</html>