<!DOCTYPE html>
<html lang="zh-TW">
	<head>
		<meta charset="utf-8">
		<title>Payday 2 技能模擬器</title>
		<meta name="viewport" content="width=device-width, user-scalable=0">
		
		<link rel="stylesheet" href="style/style.min.css">
		<link rel="stylesheet" href='http://fonts.googleapis.com/css?family=Fjalla+One'>
		<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.5/angular.min.js"></script>

	</head>
	
	<body ng-app="pd2Skills">

		<div class="wrapper">
			
			<div class="header">
				<div class="header-logo-block">
					<a href=".">
						<img class="header-logo" src="image/logo.png" alt="logo">
					</a>
				</div>
				
				<ul class="nav cant_select" ng-init="tab=1">
					<li><span ng-click="tab=1" ng-class="{checked:tab==1}">Skills</span></li>
					<li><span ng-click="tab=2" ng-class="{checked:tab==2}">Perks</span></li>
					<li><span ng-click="tab=3" ng-class="{checked:tab==3}">Infamy</span></li>
				</ul>
			</div>
			
			<div class="contain" ng-controller="mainController">
				<div class="main cant_select">
					<div ng-if="tab==1" class="main-skills"></div>
					<div ng-if="tab==2" class="main-perks"></div>
					<div ng-if="tab==3" class="main-infamy"></div>
				</div>
				
				<div class="aside">
					<div ng-if="tab==1" class="aside-skills"></div>
					<div ng-if="tab==2" class="aside-perks"></div>
					<div ng-if="tab==3" class="aside-infamy"></div>
				</div>
			</div>
			
			<div class="footar">
				<p><small>建議使用 Internet Explorer 11 以上, Firefox 或 Chrome 以獲得最好瀏覽效果</small></p>
				<p><small>技能翻譯取自於原作者 <strong>Charlie13</strong> 的<a href="http://forum.gamer.com.tw/C.php?bsn=20328&snA=2536&tnum=12" style="color:#fff">文章</a></small></p>
				<p><small>惡名翻譯感謝 <strong>xmop1000</strong> 的協助</small></p>
				<p><small>© 2014 By Shisha</small></p>
			</div>
			
		</div>
		
		<script src="class/class.min.js"></script>
		<script src="app/app.min.js"></script>
	</body>
</html>