<div class="infamy-contain">
	
	<div class="infamy-main set-tab-width set-tab-height">
		
		<div class="border"></div>
		
		<ul ng-repeat="tree in trees">

			<li
				class="infamy-block {{ ::tree.name }}"
				ng-class="{
					unlocked : true,
					owned    : tree.infamy
				}"
				ng-click="infamyClick(tree)"
			>
				<div
					class="infamy-icon"
					ng-style="style"
					ng-init="style=infamyIconStyle($index)"
				></div>

				<div class="infamy-text-block">
					<p class="infamy-text text-owned">擁有</p>
					<p class="infamy-text text-unlocked">解鎖</p>
					<p class="infamy-text text-locked">未解鎖</p>
				</div>

				<a
					class="infamy-remove"
					ng-show="tree.infamy"
					ng-click="infamyRemove(tree); $event.stopPropagation()"
				>
					<span class="infamy-remove-icon">×</span>
				</a>
			</li>

		</ul>

	</div>

</div><!-- main -->