
/**
 * ================================================================
 * = Main
 * ================================================================
 */

.perks-contain {
	height:100%;
	padding: 30px 60px 0 0;
}

.perks-main {
	position:relative;
	float:left;
	height:100%;
	background-image:url('icon/perks.png');
}

.perks-main p {
	height: 24px;
	line-height: 24px;
	margin:20px 0;
	font-size:18px;
	text-align:center;
}

