/**
 * ================================================================
 * = Reset
 * ================================================================
 */

body {
	background-color:#0b0b15;
	color:#EEE;
	font-family: "微軟正黑體"
}


ul, p, h1, h2, h3, h4, h5, h6 {
	margin:0;
	padding:0;
	font-weight:normal;
	#font-weight:bold;
}

ul, li {
	list-style:none;
}


/**
 * ================================================================
 * = Skill
 * ================================================================
 */

.skill {
	box-sizing:border-box;
	position:relative;
	float:left;
	width:180px;
	height:68px;
	border:2px solid transparent;
	color:#ddd;
}

.skill:hover {
	border:2px solid #eee;
}

.skill-text {
	line-height:1.1;
	margin:24px 4px 4px 68px;
	font-size:14px;
}


.skill-remove {
	position:absolute;
	top:0;
	right:0;
}

.skill-remove-icon {
	display:none;
	width:20px;
	height:20px;
	text-align:center;
	color:#ddd;
	font-size:20px;
}

.skill:hover .skill-remove-icon {
	display:inline-block;
}

.skill:hover .skill-remove-icon:hover {
	display:inline-block;
	color:#fff;
}

/**
 * ================================================================
 * = Skill-Icon
 * ================================================================
 */
.skill-icon {
	position:absolute;
	top:0;
	left:0;
	width:64px;
	height:64px;
	line-height:64px;
	#background:#373b44;
	background-image:url('icon/skill-dark.png');
}

.unlock .skill-icon{
	#background:#5e7d91;
	background-image:url('icon/skill-halflight.png');
}

.basic .skill-icon{
	#background:#fcfcfc;
	background-image:url('icon/skill-light.png');
}

.ace .skill-icon:after{
	content:'';
	display:block;
	position:absolute;
	top:-32px;
	left:-32px;
	z-index:-1;
	width:128px;
	height:128px;
	background-image:url('icon/ace.png');
}

.alert .skill-icon{
	#background:#bf3247;
	background-image:url('icon/skill-alert.png');
}


/**
 * ================================================================
 * = Info
 * ================================================================
 */

.info {
	box-sizing:border-box;
	
	height:408px;
	border:10px solid transparent;
	border-image:url('icon/border.gif') 10 10;
}

.info-title {
}

.info-title > .title1 {
	font-size:18px;
	font-weight:bold;
}

.info-title > .title2 {
	font-size:12px;
}

.info-block {
	margin:10px 0;
}

.info-block p {
	margin:5px 0;
}

.info-strong, .info-block strong {
	margin:0 2px;
	color:#3aa5e6;
	font-weight:bold;
}


/**
 * ================================================================
 * = Tab
 * ================================================================
 */

.tabs {
	width:100%;
	height:506px;
}

.tab {
	float:left;
}

.tab-nav {
	box-sizing:border-box;
	display:inline-block;
	z-index:200;
	cursor:pointer;
	
	height:30px;
	line-height:30px;
	margin-right:2px;
	padding:0 10px;
	
	color:#3aa5e6;
	font-size:14px;
}

.tab-main {
	display:none;
	position:absolute;
	top:30px;
	left:0;
	
	height:476px;
}

.tab > input[type=radio] {
	display:none;
}

.tab > input[type=radio]:checked + label {
	background:#eee;
	color:#333;
}

.tab > input[type=radio]:checked ~ .tab-main {
	display:block;
}


/**
 * ================================================================
 * = 主要區塊
 * ================================================================
 */
.contain {
	min-width:920px;
	max-width:1280px;
	margin:0 auto;
}

.main {
	position:relative;
	float:left;
	width:540px;
}

.tree-border {
	box-sizing:border-box;
	position:absolute;
	top:30px;
	
	width:540px;
	height:408px;
	border:10px solid transparent;
	border-image:url('icon/border-tree.gif') 10 10;
}

.tree-tier {
	height:68px;
}

.tier0 {
	float:none;
	margin:0 auto;
}

.aside {
	margin-left:560px;
	padding-top:30px;
}

.alert {
	color:#bf3247;
}


/**
 * ================================================================
 * = 變動
 * ================================================================
 */

.contain {
	min-width:920px;
	max-width:1280px;
}

.main {
	width:540px;
	height:566px;
}

.tree-border {
	width:540px;
}

.tree-border {
	width:540px;
}
.skill {
	width:180px;
}


/**
 * ================================================================
 * = 其他
 * ================================================================
 */

.cant_select {
	-moz-user-select: none;  
	-webkit-user-select: none;  
	-ms-user-select: none;  
}


.ctrl-right {
	position:absolute;
	bottom:0;
	right:0;
	width:200px;
	height:60px;
}

.ctrl-availavle {
	font-size:16px;
}

.ctrl-respec {
	color:#3aa5e6;
	font-size:15px;
	font-weight:bold;
}

.small {
	font-size:12px;
}