<div class="main">
	<div class="tree-border"></div>
	<ul class="trees">
		<li class="tab" ng-repeat="(treeIndex, tree) in skillTree track by $index">
			<input type="radio" id="tab{{ $index }}" name="tabs" ng-checked="$first">
			
			<label for="tab{{ ::$index }}" class="tab-nav">
				<span>{{ ::tree.title }}</span>
				<span>({{ updateTreeStatus(tree) }})</span>
			</label>
			
			<div class="tab-main">
			
				<ul	class="tree-tier" ng-repeat="(tierIndex, tier) in tree.tiers | orderBy: '-' track by $index">
					<li	
						class="skill"
						ng-repeat="(skillIndex, skill) in tier.skills track by $index"
						ng-mouseover="skillHover(skill, tier)"
						ng-mouseleave="skillLeave(skill, tier)"
						ng-click="skillClick(skill, tier)"
						ng-class="{
							unlock : tier.unlockStatus,
							basic  : skill.ownBasic,
							ace    : skill.ownAce,
							alert  : skill.alert,
							tier0  : $first && $last
						}"
					>
						<div
							class="skill-icon"
							ng-style="{'backgroundPosition' : skillStyle(skillIndex, tierIndex, treeIndex)}"
						>
						</div>
						
						<a
							class="skill-remove"
							ng-show="skill.ownBasic || skill.ownAce"
							ng-click="skillRemove(skill, tier); $event.stopPropagation()"
						>
							<span class="skill-remove-icon">x</span>
						</a>
						
						<div class="skill-text" ng-switch="skillUpdate(skill, tier)">
							<p ng-switch-when="locked">未解鎖</p>
							<p ng-switch-when="basic">擁有</p>
							<p ng-switch-when="ace">王牌</p>
							<p ng-switch-when="basic-hover">
								<span>購買 基本 </span>
								<span>花費 {{ ::tier.skillUnlockPointBasic }} 點</span>
							</p>
							<p ng-switch-when="ace-hover">
								<span>購買 王牌 </span>
								<span>花費 {{ ::tier.skillUnlockPointAce }} 點</span>
							</p>
						</div>	
						
					</li><!-- skill -->
					
				</ul><!-- tree-tier -->
				
			</div><!-- tab-main -->
			
		</li><!-- tab -->
		
	</ul><!-- trees -->
	
	<div class="aside">
		<div class="info">
			<div class="info-title">
				<h1 class="title1">{{ display.skill.title }}</h1>
				<h2 class="title2">{{ display.skill.name }}</h2>
			</div>
			
			<div class="info-block alert">
				<p ng-show="display.tier.unlockStatus === false">
					你必須再花費 {{ display.tier.unlockRequire }} 點來解鎖第 {{ display.tier.tier }} 階技能
				</p>
				<p ng-show="display.skill.unlockRequire === false">
					必須要擁有前置技能 : {{ display.skill.require.skill.title }} ({{ display.skill.require.skill.name }})
				</p>
			</div>
			
			<div class="info-block" ng-show="display.tier.skillUnlockPointBasic > 0">
				<p>
					<span>基本: </span>
					
					<span
						class="info-strong"
						ng-class="{alert : ! display.skill.unlockBasic}"
						ng-hide="display.skill.ownBasic"
					>
						{{ display.tier.skillUnlockPointBasic }} 點 / ${{ display.tier.skillUnlockCostBasic | number}}
					</span>
					
					<span class="info-strong" ng-show="display.skill.ownBasic">擁有</span>
				</p>
				<p ng-bind-html="display.skill.basic | htmlSafe"></p>
			</div>
			
			<div class="info-block" ng-show="display.tier.skillUnlockPointAce > 0">
				<p>
					<span>王牌: </span>
					
					<span
						class="info-strong"
						ng-class="{alert : ! display.skill.unlockAce}"
						ng-hide="display.skill.ownAce"
					>
						{{ display.tier.skillUnlockPointAce }} 點 / ${{ display.tier.skillUnlockCostAce | number}}
					</span>
					
					<span class="info-strong" ng-show="display.skill.ownAce">擁有</span>
				</p>
				<p ng-bind-html="display.skill.ace | htmlSafe"></p>
			</div>
			
			<div class="info-block" ng-bind-html="display.skill.text | htmlSafe"></div>
		
		</div>
		
	</div>
	
</div>