
.deck-helmet_popping {
	background-position: -64px 0px;
}

.deck-blending_in {
	background-position: -128px 0px;
}

.deck-walk-in_closet {
	background-position: -192px 0px;
}

.deck-fast_and_furious {
	background-position: -256px 0px;
}

.deck-brute_strength {
	background-position: 0px -64px;
}

.deck-marathon_man {
	background-position: -64px -64px;
}

.deck-wolf_pack {
	background-position: -128px -64px;
}

.deck-testudo {
	background-position: -192px -64px;
}

.deck-hostage_situation {
	background-position: -256px -64px;
}

.deck-brute_strength {
	background-position: 0px -128px;
}

.deck-meat_shield {
	background-position: -64px -128px;
}

.deck-giant_strength {
	background-position: -128px -128px;
}

.deck-disturbing_the_peace {
	background-position: -192px -128px;
}

.deck-800-pound_gorilla {
	background-position: -256px -128px;
}

.deck-type_i_armor {
	background-position: 0px -192px;
}

.deck-type_ii_armor {
	background-position: -64px -192px;
}

.deck-type_iii_armor {
	background-position: -128px -192px;
}

.deck-reinforced_armor {
	background-position: -192px -192px;
}

.deck-liquid_armor {
	background-position: -256px -192px;
}

.deck-subtle {
	background-position: 0px -256px;
}

.deck-elusive {
	background-position: -64px -256px;
}

.deck-evasive {
	background-position: -128px -256px;
}

.deck-shadow_warrior {
	background-position: -192px -256px;
}

.deck-killer_instinct {
	background-position: -256px -256px;
}

.deck-basic_recovery {
	background-position: 0px -320px;
}

.deck-ambidexterity {
	background-position: -64px -320px;
}

.deck-advanced_recovery {
	background-position: -128px -320px;
}

.deck-expert_recovery {
	background-position: -192px -320px;
}

.deck-tooth_and_claw {
	background-position: -256px -320px;
}

.deck-subtle {
	background-position: 0px -384px;
}

.deck-basic_composure {
	background-position: -64px -384px;
}

.deck-advanced_composure {
	background-position: -128px -384px;
}

.deck-expert_composure {
	background-position: -192px -384px;
}

.deck-master_recovery {
	background-position: -256px -384px;
}

.deck-subtle {
	background-position: 0px -448px;
}

.deck-bag_of_tricks {
	background-position: -64px -448px;
}

.deck-luck_of_the_irish {
	background-position: -128px -448px;
}

.deck-dutch_courage {
	background-position: -192px -448px;
}

.deck-breath_of_fresh_air {
	background-position: -256px -448px;
}