
/**
 * ================================================================
 * = Main
 * ================================================================
 */

.infamy-main {
	position:absolute;
	top:30px;
}


/**
 * ================================================================
 * = Infamy-Tier
 * ================================================================
 */
.infamy-tier {
	overflow: auto;
	position: relative;
	width: 100%;
}

/**
 * ================================================================
 * = Infamy-Talent
 * ================================================================
 */

.infamy-talent {
	box-sizing:border-box;
	position:relative;
	float:left;
	
	width:25%;
	height:156px;
	border:2px solid transparent;
	
	cursor:pointer;
}

.infamy-talent:hover {
	border-color:#fff;
}

.tier-single .infamy-talent {
	float:none;
	margin:0 auto;
}


/**
 * ================================================================
 * = Infamy-Remove
 * ================================================================
 */
.infamy-remove {
	display:none;
	position:absolute;
	top:0;
	right:0;
}

.owned:hover .infamy-remove {
	display:block;
}

.infamy-remove:before {
	content:'×';
	display:block;

	width:24px;
	height:24px;
	line-height:24px;
	
	color:#156fa5;
	font-size:24px;
	text-align:center;
}

.infamy-remove:hover:before {
	color:#fff;
}



/**
 * ================================================================
 * = Icon
 * ================================================================
 */
.infamy-icon {
	width:128px;
	height:128px;
	margin:0 auto;
	background-image:url('../image/infamy.png');
}


/**
 * ================================================================
 * = Text
 * ================================================================
 */
.infamy-text-block {
	overflow:hidden;
	
	height:14px;
	line-height:14px;

	font-size:14px;
	text-align:center;
}

.infamy-text {
	display:none;
	height:14px;
}

.infamy-talent:hover .text-locked {
	display:block;
}

.unlocked:hover .text-unlocked {
	display:block;
}

.owned:hover .text-owned {
	display:block;
}


/**
 * ================================================================
 * = Sprite
 * ================================================================
 */

.infamy1 {
	background-position: -128px -0px;
}

.unlocked .infamy1 {
	background-position: -128px -128px;
}

.owned .infamy1 {
	background-position: -128px -256px;
}


.infamy2 {
	background-position: -256px -0px;
}

.unlocked .infamy2 {
	background-position: -256px -128px;
}

.owned .infamy2 {
	background-position: -256px -256px;
}


.infamy3 {
	background-position: -384px -0px;
}

.unlocked .infamy3 {
	background-position: -384px -128px;
}

.owned .infamy3 {
	background-position: -384px -256px;
}


.infamy4 {
	background-position: -512px -0px;
}

.unlocked .infamy4 {
	background-position: -512px -128px;
}

.owned .infamy4 {
	background-position: -512px -256px;
}