
/**
 * ================================================================
 * = Main
 * ================================================================
 */

.perks-contain {
	height:100%;
	padding-top: 5px;
}

.perks-main {
	position: relative;
	width: 580px;
	height:100%;
}

.perks-main p {
	height: 24px;
	line-height: 24px;
	margin:20px 0;
	font-size:18px;
	text-align:center;
}


/**
 * ================================================================
 * = Perk
 * ================================================================
 */

.perks {
	float: left;
}

.perk {
	margin-bottom: 10px;
}

.perk-title {
	height: 15px;
	line-height: 15px;
	margin-bottom: 10px;
	font-size: 15px;
}

.equipped .perk-title:before {
	content: '已裝備：';
}

.perk-title > span {
	margin-right: 4px; 
}


/**
 * ================================================================
 * = Deck
 * ================================================================
 */

.decks {
	display: block;
	position: relative;
	overflow: auto;
	width: 100%;
}

.equipped .decks {
	background-color: rgba(32, 32, 32, 0.5);
}

.deck {
	box-sizing:border-box;
	position: relative;
	float: left;

	width: 64px;
	height: 64px;
	background-image: url('icon/perks-dark.png');
	
	cursor: pointer;
}

.deck:hover {
	background-image: url('icon/perks-light.png');
}

.deck:hover:after {
	content: '';
	box-sizing:border-box;
	display: block;
	position: absolute;

	width: 100%;
	height: 100%;
	border: 2px solid #fff;
}

.decks .owned {
	background-image: url('icon/perks-light.png');
}