/**
 * ================================================================
 * = 主要區塊
 * ================================================================
 */

.skills-main {
	position:relative;
	float:left;
	height:570px;
}

.skills-border-contain {
	position:absolute;
	top:30px;
}


/**
 * ================================================================
 * = Tab
 * ================================================================
 */

.skills-tabs {
	height:506px;
}

.skills-tab {
	float:left;
}

.skills-tab-nav {
	box-sizing:border-box;
	display:inline-block;
	z-index:200;
	
	height:30px;
	line-height:30px;
	margin-right:2px;
	padding:0 10px;
	
	color:#156fa5;
	font-size:14px;
	font-weight:bold;
	
	cursor:pointer;
}

.skills-tab-nav:hover {
	color:#3aa5e6;
}

.skills-tab > .checked {
	background:#eee;
	color:#667584;
}

.skills-tab-main {
	position:absolute;
	top:30px;
	left:0;
	height:476px;
	padding-right:60px;
}


/**
 * ================================================================
 * = Tier
 * ================================================================
 */

.skills-tier {
	position:relative;
	width:100%;
	height:68px;
	padding-right:60px;
}

.skills-tier-contain {
	width:100%;
}

.skills-tier-progress {
	position:absolute;
	right:12px;
	bottom:0;
	color:#667584;
}

.unlocked .skills-tier-progress {
	color:#fff;
}

.skills-tier-single .skills-tier-progress {
	display:none;
}

.skills-tier-progress > span {
	display:inline-block;
	width:24px;
	margin:0;
	font-size:13px;
	font-weight:bold;
	text-align:right;
}

.infamy .skills-tier-progress:before {
	content:'';

	position:absolute;
	top:11px;
	right:7px;
	z-index:-200;
	box-shadow:0 0 18px 7px rgba(58, 165, 230, 0.8);
	/*box-shadow:0 0 16px 6px rgba(21, 111, 165, 1);*/
}


/**
 * ================================================================
 * = Progress Bar
 * ================================================================
 */

.progress-bar-contain {
	position:absolute;
	top:66px;
	right:32px;
	width:3px;
	height:340px;
}

.progress-bar {
	position:absolute;
	bottom:0;
	width:100%;
	background:#fff;
}


/**
 * ================================================================
 * = Skill
 * ================================================================
 */

.skill {
	box-sizing:border-box;
	position:relative;
	float:left;
	
	width:180px;
	height:68px;
	border:2px solid transparent;
	
	cursor:pointer;
}

.skill:hover {
	border-color:#fff;
}

.skills-tier-single .skill {
	float:none;
	margin:0 auto;
}


/**
 * ================================================================
 * = Skill-Remove
 * ================================================================
 */
.skill-remove {
	display:none;
	position:absolute;
	top:0;
	right:0;
}

.owned:hover .skill-remove, .acedd:hover .skill-remove {
	display:block;
}

.skill-remove:before {
	content:'×';
	display:block;

	width:24px;
	height:24px;
	line-height:24px;
	
	color:#156fa5;
	font-size:24px;
	text-align:center;
}

.skill-remove:hover:before {
	color:#fff;
}


/**
 * ================================================================
 * = Skill-Icon
 * ================================================================
 */
.skill-icon {
	position:absolute;
	top:0;
	left:0;
	width:64px;
	height:64px;
}

.aced .skill-icon:before{
	content:'';
	
	display:block;
	position:absolute;
	top:-32px;
	left:-32px;
	z-index:-1;
	
	width:128px;
	height:128px;
	background-image:url('../image/ace.png');
}


/**
 * ================================================================
 * = Skill-Text
 * ================================================================
 */
.skill-text-block {
	box-sizing:border-box;
	overflow:hidden;
	height:40px;
	margin:24px 4px 0 68px;
}

.skill-text {
	display:none;
	height:40px;
}

.skill-text > p {
	height:14px;
	line-height:1.1;
	font-size:14px;
}

.owned .text-basic {
	display:block;
}

.aced .text-ace {
	display:block;
}

.unlocked .skill:hover .text-basic-hover {
	display:block;
}

.owned:hover .text-ace-hover {
	display:block;
}

.skill:hover .text-locked{
	display:block;
}


/**
 * ================================================================
 * = Ctrl Left
 * ================================================================
 */

.ctrl-left {
	position:absolute;
	bottom:0;
	left:0;
}

.ctrl-line {
	margin: 3px 0;
	height:16px;
	line-height:16px;
	font-size:14px;
}

.ctrl-line > span {
	float:left;
}

.ctrl-level:before, .ctrl-spent:before {
	content:'';
	display:block;
	float:left;
	
	width:16px;
	height:16px;
	margin-right:4px;
	background-image:url('icon/icon.png');
	background-position: 0 0;
}

.ctrl-spent:before {
	background-position: 0 -16px;
}


/**
 * ================================================================
 * = Ctrl Right
 * ================================================================
 */
 
.ctrl-right {
	position:absolute;
	bottom:0;
	right:0;
	width:180px;
	height:60px;
}

.ctrl-availavle {
	font-size:16px;
}

.ctrl-respec {
	color:#156fa5;
	font-size:15px;
	font-weight:bold;
	
	cursor:pointer;
}

.ctrl-respec:hover {
	color:#3aa5e6;
	text-decoration:underline;
}

.ctrl-right > .small {
	font-size:12px;
}