/**
 * ================================================================
 * = Reset
 * ================================================================
 */

body {
	background-color:#0b0b15;
	color:#EEE;
	font-family:"微軟正黑體";
}


ul, p, h1, h2, h3, h4, h5, h6 {
	margin:0;
	padding:0;
	font-weight:normal;
}

ul, li {
	list-style:none;
}


/**
 * ================================================================
 * = 變動
 * ================================================================
 */

.wrapper {
	min-width:920px;
	max-width:1280px;
}

.main {
	width:600px;
}

.aside {
	position:relative;
	margin-left:600px;
}


/**
 * ================================================================
 * = Main
 * ================================================================
 */

.wrapper {
	min-width:920px;
	max-width:1280px;
	margin:0 auto;
}

.contain {
	display:block;
	overflow: auto;
	width:100%;
	min-height:600px;
}

.main {
	position:relative;
	float:left;
	width:600px;
}

.aside {
	margin-left:600px;
}

.footar {
	width:600px;
	margin:40px auto 60px;
	text-align:center;
}


/**
 * ================================================================
 * = Header
 * ================================================================
 */

.header {
	display:block;
	width:100%;
	height:72px;
}

.header-logo {
	float:right;
	width:320px;
	height:72px;
}


/**
 * ================================================================
 * = Main-tab
 * ================================================================
 */

.nav {
	box-sizing:border-box;
	height:72px;
	padding:8px 0;
}

.nav li {
	display:block;
	float:left;
	
	height:36px;
	line-height:36px;
	margin-right:12px;
	padding-right:12px;
	border-right:3px solid #156fa5;
}

.nav li:last-child {
	border-right:none;
}

.nav span {
	color:#156fa5;
	font-family:"Fjalla One", sans-serif;
	font-size:36px;
	text-transform:uppercase;
	cursor:pointer;
}

.nav span:hover {
	color:#3aa5e6;
}

.nav span.checked {
	color:#fff;
}


/**
 * ================================================================
 * = 特殊邊框
 * ================================================================
 */
 
.border:before {
	content:'';
	box-sizing:border-box;
	display:block;
	position:absolute;
	z-index:-200;
	
	width:100%;
	height:100%;
	border:10px solid transparent;
	border-image:url('icon/border.gif') 10 10 repeat;
}

.hr:after {
	content:'';
	position:absolute;
	width:100%;
	border-top:2px solid #fff;
}


/**
 * ================================================================
 * = 其他
 * ================================================================
 */
.small {
	font-size:12px;
}

.strong {
	#156fa5;
}

.strong:hover {
	color:#3aa5e6;
}

.alert {
	color:#bf3247;
}

.hover {
	display:none;
}

.hover:hover {
	display:block;
}

.hide {
	display:none;
}


/**
 * ================================================================
 * = 指標類
 * ================================================================
 */

.cant_select {
	-moz-user-select: none;  
	-webkit-user-select: none;  
	-ms-user-select: none;  
}

.cursor {
	cursor:pointer;
}