<!DOCTYPE html>
<html lang="zh-TW">
	<head>
		<title> Angular Test </title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, user-scalable=0">
		
		
		<script src="angular.min.js"></script>
		
	</head>
	
	<body ng-app="myApp" ng-controller="MainCtrl">
		
		<div ng-repeat="v in arr">
			<input
					type="radio"
					id="tab{{::$index}}"
					name="tabs"
					ng-model="display.a"
					ng-value="v"
					ng-init="($first)? display.a = v : null"
			>
			<div class="tab">
				
				<label for="tab{{::$index}}">
				<div>Main {{$index}}</div>
			</div>
		</div>
		
		<div>Tab = {{display.a}}</div>
		
		<script>
			var app = angular.module('myApp', []);
			app.controller('MainCtrl', function($scope, $http) {
				var arr = {
					a : {
						a : 1,
						b : 0,
						c : 0
					},
					b : {
						a : 0,
						b : 1,
						c : 0
					},
					c : {
						a : 0,
						b : 0,
						c : 1
					}
				};
				
				$scope.arr = arr;
				$scope.display = {};
			});
		</script>
	</body>
</html>